<ion-header>
  <ion-navbar>
    <ion-title>Helloday</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="movie">
  <ion-card>

    <ion-item>
      <h2>{{ movie.title }}</h2>
      <p>{{ movie.releaseDate }}</p>
    </ion-item>

    <div class="image" [style.background-image]="'url(' + movie.imageUrl + ')'">
    </div>

    <ion-card-content>
      <p>{{ movie.overview }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
