// http://ionicframework.com/docs/v2/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

html {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 0 2px 19px rgba(0, 0, 0, 0.2);
  background-image:       linear-gradient(0deg, transparent 24%, rgba(100, 100, 100, .05) 25%, rgba(100, 100, 100, .05) 26%, transparent 27%, transparent 74%, rgba(100, 100, 100, .05) 75%, rgba(100, 100, 100, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(100, 100, 100, .05) 25%, rgba(100, 100, 100, .05) 26%, transparent 27%, transparent 74%, rgba(100, 100, 100, .05) 75%, rgba(100, 100, 100, .05) 76%, transparent 77%, transparent);
  height: 100%;
  background-size: 50px 50px;
}

body {
  max-width: 500px;
}
